*{
    margin :0px;
    padding: 0px;
}

.fundo {
    text-align: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(215, 215, 215);
    position: absolute;
    visibility:visible;

    
}
h1{
    padding-top: 15px;
    font-size: 25px;
    text-align: center;
    color: rgb(51, 49, 153);  
}
.linha{
    padding: 0px;
    padding-top: 10px;
}
.div_central{
    display:inline-flex;
    width: 100%;
    padding: 5px;
    
}
.div_anuncio{
    width: 22%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: rgb(215, 215, 215);
}
.calculadora{
    background-color: white;
    width: 50%;
    max-width: 600px;
    min-width: 200px;
    text-align: center;
    padding: 1px;
    border-radius: 10px;
    box-shadow:7px 4px 4px rgb(156, 156, 156);
    margin: auto;
}
.botao{
    max-width: 620px;
    min-width: 100px;
    font-size: 15px;
    padding: 4px;
    margin: auto;
    border-radius: 6px;
    background-color: rgb(9, 9, 122);
    border: 2px  rgb(51, 49, 153) solid;
    color:  rgb(255, 255, 255);
    
}
.botao:hover{
    background-color:rgb(255, 255, 255);
    border: 2px  rgb(51, 49, 153) solid;
    color: rgb(9, 9, 122);
    font-weight: bold;
}
.caixa{
    max-width: 600px;
    min-width: 100px;
    padding: 10px;
    margin: auto;
    font-size: 18px;
    text-align: left;
}
.campo{
    max-width: 620px;
    min-width: 100px;
    font-size: 15px;
    padding: 2px;
    border-radius: 4px;
}
.alinhamento{
    
    text-align: right;
}
.tabelaimpar{
    background-color: rgb(230, 240, 260);
    font-size: 20px;
    padding: 15px;
    margin: auto;
    max-width: 650px;
    min-width: 100px;

    
}
.tabelaprincipal{
    background-color:rgb(245, 231, 154);
    font-size: 20px;
    padding: 15px;
    margin: auto;
    max-width: 650px;
    min-width: 100px;
}
.tabelapar{
    background-color: rgb(220, 230, 255);
    font-size: 20px;
    padding: 15px;
    margin: auto;
    max-width: 650px;
    min-width: 100px; 
}

#caixa{
    max-width: 650px;
    min-width: 100px;
    padding: 5px;
    margin: auto;
    
}
.fonte_size{
    font-size: 19px;
    background-color: aliceblue;
    text-align: center;
}
.img{
    border-radius: 20px;
    margin: 10px;
}
.erro{
    color: crimson ;
    font-size: 14px;
}

.fonte_sizesac{
    font-size: 14px;
    transition: 5%;
    text-align: center;
}
.fonte_sizeprice{
    font-size: 18px;
    transition: 5%;
}
.rodape{
   padding: 20px;
   width: 50%; 
   color: rgb(17, 17, 18);
   background-color: white;
}
.div_anuncio_rodape{
    width: 99%;
    margin: auto;
    background-color: white;
    
}

.field{
    width: 60%;
    padding: 3px;
    margin-top: 5px;
    background-color: white;
}

@media(max-width: 1150px){
    .fundo {
        text-align: center;
        justify-content: center;
        justify-items: center;
        margin: auto;
    }
    .fonte_size{
        font-size: 12px;
        background-color: aliceblue;
        transition: 5%;
        text-align: center;
    }
    .calculadora{
        
        box-shadow:4px 2px 2px rgb(156, 156, 156);
        text-align: center;
        padding: 1px;
        border-radius: 5px;
        margin: auto;
        font-size:12px;
    }
    .tabelaprincipal{
        font-size: 13px;
        padding: 1px;
        margin: auto;
        max-width: 99%;
        min-width: 10px; 
        background-color:rgb(245, 231, 154);
    }
    .tabelapar{
        font-size: 13px;
        padding: 1px;
        margin: auto;
        max-width: 99%;
        min-width: 10px; 
        background-color: rgb(220, 230, 255);
    }
    .tabelaimpar{
        background-color: rgb(230, 240, 260);
        font-size: 13px;
        padding: 1px;
        margin: auto;
        max-width: 99%;
        min-width: 10px; 
    }
    .campo{
        max-width: 500px;
        min-width: 50px;
        font-size: 12px;
        padding: 2px;
        border-radius: 4px;
    }
    .botao{
        max-width: 500px;
        min-width: 80px;
        font-size: 14px;
        margin: auto;
    }
    h1{
        padding-top: 10px;
        font-size: 17px;
        text-align: center;
    }
}
@media(max-width: 700px) {
    .fundo {
        text-align: center;
        justify-content: center;
        justify-items: center;
        margin: 0px;
    }
    
    .linha{
        padding-top: 10px;
    }
    .fonte_size{
        font-size: 12px;
        background-color: aliceblue;
        transition: 5%;
        text-align: center;
    }
    .fonte_sizesac{
        font-size: 10px;
        transition: 5%;
        text-align: center;
    }
    .fonte_sizeprice{
        font-size: 13px;
        transition: 5%;
        
    }
    .img{
        border-radius: 10px;
        margin: 5px;
        max-width: 70%;
    }
    .tabelaparincipal{
        font-size: 10.5px;
        padding: 1px;
        margin: auto;
        max-width: 99%;
        min-width: 10px; 
        background-color: rgb(245, 231, 154);
    }
    .tabelapar{
        font-size: 10.5px;
        padding: 1px;
        margin: auto;
        max-width: 99%;
        min-width: 10px; 
        background-color: rgb(220, 230, 255);
    }
    .tabelaimpar{
        background-color: rgb(230, 240, 260);
        font-size: 10.5px;
        padding: 1px;
        margin: auto;
        max-width: 99%;
        min-width: 10px; 
    }
    .calculadora{
        
        box-shadow:4px 2px 2px rgb(156, 156, 156);
        max-width: 99%;
        min-width: 99%;
        width: 99%;
        text-align: center;
        padding: 0px;
        border-radius: 5px;
        margin: 0px;
        font-size:12px;
        
        
    }
    .caixa{
        max-width: 500px;
        min-width: 100px;
        padding: 1px;
        margin: auto;
        font-size: 13.5px;
        
    }
    .botao{
        max-width: 500px;
        min-width: 65px;
        font-size: 12px;
        margin: auto;
    }
    .campo{
        max-width: 500px;
        min-width: 50px;
        font-size: 12px;
        padding: 2px;
        border-radius: 2px;
    }
    .erro{
        color: crimson ;
        font-size: 11px;
    }
    
    
    h1{
        font-size: 16px;
        text-align: center;
        padding: 5px;
    }
    .div_central{
        display:block;
        padding: 0px;
       
    }
    .div_anuncio{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .rodape{
        width: 99%; 
        padding: 0px;
     }
    
}
