*{
    margin :0px;
    padding: 0px;
}

.fundo {
    text-align: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    visibility:visible;
}
h1{
    padding-top: 15px;
    font-size: 25px;
    text-align: center;
    color: rgb(51, 49, 153);  
}
.linha{
    padding: 0px;
    padding-top: 10px;
}
.div_central{
    display:inline-flex;
    width: 100%;
    padding: 5px;
    
}
.div_anuncio{
    width: 22%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    

}
.calculadora{
    
    width: 50%;
    max-width: 600px;
    min-width: 200px;
    text-align: center;
    padding: 1px;
    border-radius: 10px;
    box-shadow:7px 4px 4px rgb(156, 156, 156);
    margin: auto;
    background-image: linear-gradient( rgb(198, 220, 231) , rgb(228, 248, 250));
}
.botao{
    max-width: 620px;
    min-width: 100px;
    font-size: 15px;
    padding: 2px;
    margin: auto;
    border-radius: 4px;
    background-color:rgb(255, 255, 255);
    border-bottom-color: blue;
}
.caixa{
    max-width: 600px;
    min-width: 100px;
    padding: 10px;
    margin: auto;
    font-size: 18px;
    text-align: left;
    
    
}
.campo{
    max-width: 620px;
    min-width: 100px;
    font-size: 15px;
    padding: 2px;
    border-radius: 4px;
}
.alinhamento{
    
    text-align: right;
}
.tabelaimpar{
    background-color: rgb(230, 240, 260);
    font-size: 20px;
    padding: 15px;
    margin: auto;
    max-width: 650px;
    min-width: 100px;

    
}
.tabelaprincipal{
    background-color:rgb(245, 231, 154);
    font-size: 20px;
    padding: 15px;
    margin: auto;
    max-width: 650px;
    min-width: 100px;

    
}
.tabelapar{
    background-color: rgb(220, 230, 255);
    font-size: 20px;
    padding: 15px;
    margin: auto;
    max-width: 650px;
    min-width: 100px; 
}

#caixa{
    max-width: 650px;
    min-width: 100px;
    padding: 5px;
    margin: auto;
    
}
.fonte_size{
    font-size: 19px;
    background-color: aliceblue;
    text-align: center;
}
.img{
    border-radius: 20px;
    margin: 10px;
}
.erro{
    color: crimson ;
    font-size: 14px;
}
nav{
    background-image: linear-gradient( rgb(198, 220, 231) , rgb(228, 248, 250));
    height: 50px;
    width: 100%;
    position:relative;
    box-shadow:7px 4px 4px rgb(156, 156, 156);
    border-radius: 10px;
    z-index:1 ;
    
    
   
}
label.logo{
    color: rgb(51, 49, 153);
    font-size: 30px;
    line-height: 30px;
    padding: 10px;
    font-weight: bold;
    margin-left: 5px;
}
nav ul{
    float: right;
    margin: right 10px;
    box-shadow: inset;
    margin-top:  0px;
     
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;  
}
nav ul li a {
    color: rgb(51, 49, 153);
    font-size: 17px;
    padding: 0px;
    border-radius: 5px;
    text-decoration:none;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    
    
    
}
a.active , a:hover{
    border-radius: 5px;
    color: rgb(255, 255, 255);  
    padding-left: 5px;
    background-image: linear-gradient( rgb(83, 91, 147) , rgb(168, 170, 170));
    

    
}
ul ul{
    position: absolute;
    min-width: 200px;
    display: none;
    background-color: rgb(221, 231, 236);
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    line-height: 15px;
    background-image: linear-gradient( rgb(198, 220, 231) , rgb(228, 248, 250));

}
ul ul li{
    display: block;
    padding: 0px;
    margin: 0px;   
}
ul li:hover ul{
    display: block;
    position: absolute;
}
.fonte_sizesac{
    font-size: 14px;
    transition: 5%;
    text-align: center;
}
.fonte_sizeprice{
    font-size: 18px;
    transition: 5%;
}
.rodape{
   width: 50%; 
   height: 300px;
   /*background-color: rgb(155, 161, 164);*/
   color: rgb(17, 17, 18);
}
.div_anuncio_rodape{
    width: 99%;
    margin: auto;
    
}
.label_dropdown{
    background-image: linear-gradient(to right, rgb(9, 3, 175) , rgb(112, 131, 244));
    color: white;
    font-size: 14px;
    line-height: 20px;
}
.aparecer{
    display: visible;
}
.aparecer_1{
    display: none;
}
@media(max-width: 1150px){
    .fundo {
        text-align: center;
        justify-content: center;
        justify-items: center;
        background-color: rgb(255, 255, 255);
        margin: auto;
    }
    .fonte_size{
        font-size: 12px;
        background-color: aliceblue;
        transition: 5%;
        text-align: center;
    }
    .calculadora{
        background-color: rgb(221, 231, 236);
        box-shadow:4px 2px 2px rgb(156, 156, 156);
        text-align: center;
        padding: 1px;
        border-radius: 5px;
        margin: auto;
        font-size:12px;
    }
    .tabelaprincipal{
        font-size: 13px;
        padding: 1px;
        margin: auto;
        max-width: 99%;
        min-width: 10px; 
        background-color:rgb(245, 231, 154);
    }
    .tabelapar{
        font-size: 13px;
        padding: 1px;
        margin: auto;
        max-width: 99%;
        min-width: 10px; 
        background-color: rgb(220, 230, 255);
    }
    .tabelaimpar{
        background-color: rgb(230, 240, 260);
        font-size: 13px;
        padding: 1px;
        margin: auto;
        max-width: 99%;
        min-width: 10px; 
    }
    .campo{
        max-width: 500px;
        min-width: 50px;
        font-size: 12px;
        padding: 2px;
        border-radius: 4px;
    }
    .botao{
        max-width: 500px;
        min-width: 80px;
        font-size: 14px;
        margin: auto;
    }
    h1{
        padding-top: 10px;
        font-size: 17px;
        text-align: center;
    }
    .label_dropdown{
        background-image: linear-gradient(to right, rgb(9, 3, 175) , rgb(112, 131, 244));
        color: white;
        font-size: 12px;
    }
}
.aparecer{
    display: visible;
}
.aparecer_1{
    display: none;
}

@media(max-width: 700px) {
    .fundo {
        text-align: center;
        justify-content: center;
        justify-items: center;
        background-color: rgb(255, 255, 255);
        margin: auto;
    }
    .linha{
        padding-top: 10px;
    }
    .fonte_size{
        font-size: 12px;
        background-color: aliceblue;
        transition: 5%;
        text-align: center;
    }
    .fonte_sizesac{
        font-size: 10px;
        transition: 5%;
        text-align: center;
    }
    .fonte_sizeprice{
        font-size: 13px;
        transition: 5%;
        
    }
    .img{
        border-radius: 10px;
        margin: 5px;
        max-width: 70%;
    }
    .tabelaparincipal{
        font-size: 10.5px;
        padding: 1px;
        margin: auto;
        max-width: 99%;
        min-width: 10px; 
        background-color: rgb(245, 231, 154);
    }
    
    .tabelapar{
        font-size: 10.5px;
        padding: 1px;
        margin: auto;
        max-width: 99%;
        min-width: 10px; 
        background-color: rgb(220, 230, 255);
    }
    .tabelaimpar{
        background-color: rgb(230, 240, 260);
        font-size: 10.5px;
        padding: 1px;
        margin: auto;
        max-width: 99%;
        min-width: 10px; 
    }
    .calculadora{
        background-color: rgb(221, 231, 236);
        box-shadow:4px 2px 2px rgb(156, 156, 156);
        max-width: 99%;
        min-width: 99%;
        width: 99%;
        text-align: center;
        padding: 1px;
        border-radius: 5px;
        margin: auto;
        font-size:12px;
        background-image: linear-gradient( rgb(198, 220, 231) , rgb(228, 248, 250));
    }
    .caixa{
        max-width: 500px;
        min-width: 100px;
        padding: 1px;
        margin: auto;
        font-size: 13px;
        
    }
    .botao{
        max-width: 500px;
        min-width: 65px;
        font-size: 12px;
        margin: auto;
    }
    .campo{
        max-width: 500px;
        min-width: 50px;
        font-size: 12px;
        padding: 2px;
        border-radius: 2px;
    }
    .erro{
        color: crimson ;
        font-size: 11px;
    }
    label.logo{
        color: rgb(51, 49, 153);
        font-size: 16px;
        line-height: 12px;
        padding-top: 11px;
        font-weight: bold;
        text-align: left;
        margin-left: -48%;
        position:absolute;
        height: 100%;
        
    }
    nav{
        
        width: 99%;
        position: relative;
        box-shadow:4px 2px 2px rgb(156, 156, 156);
        border-radius: 3px;
        margin-right: 10px;
        height: 40px;
        background-image: linear-gradient(to right, rgb(198, 220, 231) , rgb(228, 248, 250));
        
    }
    nav ul{
        float: right;
        margin: right 10px;
        padding: 0px;
        
        
        
    }
    nav ul li{
        position:relative;
        display: inline-block;
        line-height: 40px;
        margin: 0px;
        height: 100%;
        text-align: left; 
        margin-right: 10px;
        
        
    }
    
    nav ul li a {
        color: rgb(51, 49, 153);
        font-size: 15px;
        padding-left: 0px;
        border-radius: 2px; 
        text-align: center;
        
        
        
    }
    ul ul{
        position: absolute;
        min-width: 200px;
        display: none;
        background-color: rgb(221, 231, 236);
        padding: 0px;
        margin: 0px;
        border-radius: 8px;
        line-height: 15px;
        
        margin-left: -100px;
        
        
    
    }
    a.active , a:hover{
        
        background-image: linear-gradient( rgb(83, 91, 147) , rgb(168, 170, 170));
        font-size: 15px;
        /*padding-left: 4px;
        padding-top: 4px;*/
        padding-right: 10px;
        line-height: 40px;
        
        
    }
    h1{
        font-size: 16px;
        text-align: center;
        padding: 5px;
    }
    .div_central{
        display:block;
    }
    .div_anuncio{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    
    }
    .rodape{
        width: 99%; 
     }
    .label_dropdown{
        background-image: linear-gradient(to right, rgb(9, 3, 175) , rgb(112, 131, 244));
        color: white;
        font-size: 8px;
        width: 99%;
        text-align: center;
        border-radius: 2px;
        
    }
    .aparecer{
        display: none;
    }
    .aparecer_1{
        display: block;
        
        border-top: 3px solid rgb(127, 127, 190) ;
        
    }
    
}
